/* Used by the time tracker view */
body {
  margin-top: 20px;
  background-color: #000000;
  color: white;
}
table, tr, td {
  border: none;
  border-collapse: collapse;
  border-spacing: 0px;
//  margin-left: auto;
//  margin-right: auto;
}
tr {
  white-space: nowrap;
}
tr.yearEtcInfo {
  height: 3em;
}
td.pad {
  padding-right: 2em;
}
td.label {
  text-align: right;
  font-size: calc(10px + 1vw);
}
td.time {
  font-size: calc(12px + 2vw);
  padding-left: 0.5em;
}
button.control {
  width: 4em;
  cursor: pointer;
  background-color: cornsilk;
  opacity: 0.5;
  box-shadow: 1px 1px 1px darkblue;
  border: none;
  outline: none;
  padding: 3px;
  border-radius: 5px;
  color: black;
  font-size: 9pt;
  font-family: Arial, "Noto Sans", sans-serif;
}
button.control:hover {
  background-color: aliceblue;
}
button.control:active {
  box-shadow: 1px 1px 1px darkblue inset;
  transform: translateY(1px);
}
td.timeInput {
  opacity: 0.5;
  background-color: grey;
}
input.timeInput {
  opacity: 0.5;
  width: 2ch;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: right;
}
.alignRight {
  float: right;
}
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
.land {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  z-index: -1;
}
.compass-text {
  color: white;
  font-size: 20px;
}
.bottom-left {
  position: absolute;
  bottom: 16px;
  left: 150px;
}
.bottom-centre {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%)
}
.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 150px;
}
.foreground-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.floatImage {
  position: fixed;
  user-select: none;
}

/* Used by the calendar view */
#calendar {
  background-color: black;
  color: white;
}
tbody.month {
  outline: thin solid gray;
}
td.day {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
td.year {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
td.monthName {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
}
td.extraDay {
  text-align: center;
}
td.currentDay {
  background-color: red;
}

/* Universal .js */
#debug {
  background: black;
  opacity: 0.4;
  z-index: 100;
}
